{% load staticfiles %}

        </div><!--//content-->
    </div><!--//wrapper-->
<!-- ******FOOTER****** -->
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                <div class="footer-col col-md-3 col-sm-4 about">
                    <div class="footer-col-inner">
                        <h3>Layanan</h3>
                        <ul>
                            <li><a href="#"><i class="fa fa-caret-right"></i>One Day Servies</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>IT Official</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Library</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Terms & Conditions</a></li>
                        </ul>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col col-md-6 col-sm-8 newsletter">
                    <div class="footer-col-inner">
                        <h3>Ikuti berita kampus</h3>
                        <p>Subscribe untuk mendapatkan berita terbaru melalui email.</p>
                        <form class="subscribe-form">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Masukkan email kamu" />
                            </div>
                            <input class="btn btn-theme btn-subscribe" type="submit" value="Subscribe">
                        </form>

                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                <div class="footer-col col-md-3 col-sm-12 contact">
                    <div class="footer-col-inner">
                        <h3>Kontak UMS</h3>
                        <div class="row">
                            <p class="adr clearfix col-md-12 col-sm-4">
                                <i class="fa fa-map-marker pull-left"></i>
                                <span class="adr-group pull-left">
                                    <span class="street-address">Kampus UMS</span><br>
                                    <span class="region">Jl. Tromol 1 Pabelan</span><br>
                                    <span class="postal-code">No. 213</span><br>
                                    <span class="country-name">Jawa Tengah, Indonesia</span>
                                </span>
                            </p>
                            <p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i>0800 123 4567</p>
                            <p class="email col-md-12 col-sm-4"><i class="fa fa-envelope"></i><a href="#">it@ums.ac.id</a></p>
                        </div>
                    </div><!--//footer-col-inner-->
                </div><!--//foooter-col-->
                </div>
            </div>
        </div><!--//footer-content-->
        <div class="bottom-bar">
            <div class="container">
                <div class="row">
                    <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright @ 2014 Universitas Muhammadiyah Surakarta | Template website <a href="#">versi 1.0 alpha</a></small>
                    <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
                        <li><a href="#" ><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" ><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" ><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#" ><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#" ><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" ><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" ><i class="fa fa-skype"></i></a></li>
                        <li class="row-end"><a href="#" ><i class="fa fa-rss"></i></a></li>
                    </ul><!--//social-->
                </div><!--//row-->
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->


    <!-- Javascript -->
    <script type="text/javascript" src="{% static 'jquery/jquery-1.11.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery-migrate-1.2.1.min.js' %}"></script>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/bootstrap-hover-dropdown.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'plugin/back-to-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.placeholder.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery/jquery.prettyPhoto.js' %}"></script>

    <script type="text/javascript" src="{% static 'flexslider/jquery.flexslider-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jflickrfeed/jflickrfeed.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'custom/main.js' %}"></script>

    <!--<script type="text/javascript">-->

        <!--$(window).load(function() {-->
          <!--$('.flexslider').flexslider({-->
            <!--animation: "slide"-->
          <!--});-->
        <!--});-->

    <!--</script>-->

</body>
</html>
